body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #0a0a12;
    color: #ecf0f1;
    font-family: Arial, Helvetica, sans-serif;
}

#canvas {
    position: relative;
    border: 2px solid #1e8ef9;
}

.hud-layout {
    width: 810px;
    height: 600px;
    position: absolute;
}

.score {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: -55px;
}

.score__icon {
    width: 30px;
    height: 30px;
    background: #ff9e11;
    border-radius: 50%;
}

.score__count {
    margin-top: 7px;
    font-size: 30px;
}

.game-over-message {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
}

.game-over-message__title {
    font-size: 50px;
    font-weight: bold;
}

.game-over-message__subtitle {
    margin-top: 10px;
}

.start-game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-game__button {
    padding: 20px 50px;
    background: #1e8ef9;
    border-radius: 8px;
    outline: none;
    border: none;
    color: #ecf0f1;
    font-size: 20px;
    cursor: pointer;
}

.start-game__text {
    margin-top: 15px;
    line-height: 28px;
    text-align: center;
}